body {
	background: linear-gradient(to right, #108dc7, #ef8e38);
}

.jg-main {
	background: rgba(255,255,255,0.8);
	margin-top: 50px;
}

.button {
	/*margin: 5px;*/
	width: 100%;
}

.string-inputs .button {
	background: orange;
}

.number-inputs .button {
	background: lightblue;
}

.array-inputs .button {
	background: grey;
}