body {
	background-color: ivory;
	box-sizing: border-box;
	display: block;
}

.jg-container {
	background-color: rgba(255,255,255,0.5);
	padding-top: 20vh;
	padding-bottom: 10vh;
	width: 50vw;
	margin: 0 auto;
	text-align: center;
}

#info {
	font-size: 2em;
}

#image {
	font-size: 4em;
}

.clear {
	background-color: skyblue;
}

.hidden {
	display: none;
}

 #map {
 width: 100%;
 height: 400px;
 background-color: grey;
 }